
export TWITTER_CONSUMER_KEY='...'
export TWITTER_CONSUMER_SECRET='...'
export TWITTER_ACCESS_TOKEN='...'
export TWITTER_ACCESS_TOKEN_SECRET='...'

export TWITTER_ALT_CONSUMER_KEY='...'
export TWITTER_ALT_CONSUMER_SECRET='...'
export TWITTER_ALT_ACCESS_TOKEN='...'
export TWITTER_ALT_ACCESS_TOKEN_SECRET='...'

export STEAM_API_KEY='...'

export BLACKLISTED_LEAGUE_IDS='[]'

export MANDRILL_KEY='...'

export REDISCLOUD_URL='...'